.ItemDetail{
    margin: 20px;
    font-size: 18px;
}


.title{
    
    
}


    /*==============PRODUCTOS===============*/
.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 16rem;
    margin-top: -60px;
    margin-left: 30px;
    


}

.producto-container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    height: 500px;
    width: 330px;
    ;

    
    
}

.producto-container:hover{
    transform: translateY(-.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.producto-container > div {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: #eaeaea 2px;
}

.producto-container > img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.producto-container .btn-prod {
    text-decoration: none;
    background-color: #000000;
    color: white;
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
}

.producto-container .btn-prod:hover {
    color: white;
}

.producto-detalle {
    height: 350px;
    width: 800px;
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10rem;
    margin-top: 3rem;
    border: 1px solid black;
}

.producto-detalle img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}

.titulo{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    margin-left: 1rem;
    height: 60px;
    /* border: 1px solid black; */
}

.descripcion{
    height: 100px;
    font-size: 0.8rem;
    display:flex;
    /* align-items: center; */
    margin: 8px;
        /* border: 1px solid black; */
}

.categoria {
    font-size: 1rem;
    color: #424242;
    margin-top: 1rem;
    margin-left: 8px;
}

.precio {
    font-size: 1.6rem;
    margin-top: 1rem;
    font-weight: 600;
    margin-left: 8px;
}

.producto-card{
    height: 500px;
    width: 330px;
}

.container{
    display: flex;
    margin: auto;
    margin-left: 60px;
    justify-content: center;
    
}

.detalle-der{
    margin-top: -2rem;
    height: 350px;
    width: 430px;
    /* border: 1px solid black; */
}

