.container-count{
    display: flex;
    gap: 6.3rem;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.item-count button, .button, .enviar {
    background-color: black;
    border: 0;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.item-count button:hover, .button:hover, .enviar:hover {
    background-color: rgb(202, 194, 194);
    color: black;
}

.button, .enviar {
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.al-carrito-detail{
    display: flex;
    margin-left: 13rem;
    margin-top: -2.2rem;
}