.container-logo {
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}
.logo {
    color: azure;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-container {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 80px;
    margin-top: 1rem;
}
li {
    font-size: 1.2rem;
    color: azure;
}

.verCarrito {
    display:flex;
    justify-content:center ;
    font-size: 1.2rem;
}

